
body {
    background-color: #000;
}

.circle-item {
    border-radius: 20px;
    display: block;
    padding: 30px 20px;
    background-color: #121212;
  
    overflow: hidden;
    position: relative;
}


.circle-item:hover .circle {
    -webkit-transform: scale(6);
    -ms-transform: scale(6);
    transform: scale(6);
  }
  

  .circle-item:hover .card-title {
    text-decoration: none;
    color: #FFF;
  }


  .circle {
    height: 128px;
    width: 128px;
  
    z-index: 1;
    position: absolute;
    top: -75px;
    right: -75px;
  
    border-radius: 50%;
  
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
  }

  .green_circle {
    background-color: #3ecd5e;
  }

  /* .orange_circle {
    background-color: #f9b234;
  } */
  
  .red_circle {
    background-color: #e44002;
  }

  .purple_circle {
    background-color: #952aff;
  }

  .pink_circle {
    background-color: #cd3e94;
  }

  .blue_circle {
    background-color: #4c49ea;
  }


  .card-body-2 {
    z-index: 2;
  }

  .card-black {
    background-color: #121212;
    border-radius: 25px;
  }