.bg-hover-navbar:hover , .active{
    background-color: rgba(220, 53, 69) !important; 
}

.sticky {
    position: sticky  !important; 
    top: 0  !important; 
    z-index: 1000 !important; 
}

.bg-hover-footer:hover {
    border-bottom: 0.5px solid;
    padding-bottom: 2px;
}
