.bg-hover-navbar:hover , .active{
    background-color: rgba(220, 53, 69) !important; 
}

.sticky {
    position: sticky  !important; 
    top: 0  !important; 
    z-index: 1000 !important; 
}

.icon-footer:hover {
    color: rgba(220, 53, 69) !important; 
}